.root {
  appearance: none;
  display: table;
  padding: 0;
  padding-left: 1.25em;
  padding-right: 1.25em;
  height: 2.75em;
  font-size: 16px;
  line-height: 2.75em;
  text-decoration: none;
  color: var(--theme-button-text);
  background: none;
  border: none;
  background-color: var(--theme-button-bg);
  border-radius: .25em;
  cursor: pointer;
  transition: box-shadow .2s;
  user-select: none;

  transition: all ease-in-out .15s;
  border-radius: 4px;
  border: 2px solid #1d33ff;
  height: 3em;
  padding-left: 2em;
  padding-right: 2em;
  color: #000;
  background-color: rgba(29, 51, 255, 0);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
  font-family: Formular;
  font-size: 13px;
}

.root:hover,
.root:focus {
  outline: none;
  /*box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem var(--theme-button-bg-active);*/

  background-color: rgba(29, 51, 255, 1);
  color: #fff;
}

.root:active {
  background-color: var(--theme-button-bg-active);
}

.root:disabled {
  box-shadow: none;
  border-color: var(--theme-button-bg-disabled);
  background-color: var(--theme-button-bg-disabled);
  color: var(--theme-button-text-disabled);
  cursor: default;
}

.root_size_small {
  font-size: 13px;
}
